<h2>新規登録</h2>

<div class="box_registration">
  <div class="box-inner_registration">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>


      <div class="box-name">
        <%= f.label :name,"氏名(全角)" %> <br />
        <%= f.text_field :family_name, autofocus: true %>
        <%= f.text_field :first_name, autofocus: true %>
      </div>


      <div class="box-name">
        <%= f.label :name_kana,"氏名(カナ)" %> <br />
        <%= f.text_field :family_name_kana, autofocus: true %>
        <%= f.text_field :first_name_kana, autofocus: true %>
      </div>

      <div class="box-name">
        <%= f.label :employee_number,"社員番号" %> <br />
        <%= f.text_field :employee_number, autofocus: true %>
      </div>

      <div class="box-email">
        <%= f.label :email,"eメール" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="box-email">
        <%= f.label :password,"パスワード(6文字以上）" %>
      
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="box-email">
        <%= f.label :password_confirmation,"パスワード（確認）" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="box-login">
        <%= f.submit "新規登録" %>
      </div>
    <% end %>
  </div>  
</div>
<%# <%= render "devise/shared/links" %> 
