<div class="main_flow">
  <div class="registration_search">
    <%= search_form_for @q, url: flows_searches_path, method: :get, class: "registration_search" do |form| %>
        <%= form.label :year_month_day_eq, "検索日", class:"search_registration_label" %>
        <%= form.date_field :year_month_day_eq %>
        <%= form.submit "検索", class:'btn btn-default' %>      
    <% end %>
  </div>

  <div class="main_flow_search">
    <table class="attr3">
      <colgroup>
          <col style="width:10%;">
          <col style="width:15%;">
          <col style="width:15%;">
          <col style="width:15%;">
          <col style="width:15%;">
      </colgroup>
      <thead>
        <tr>
          <th>内訳確認</th>
          <th>日付</th>
          <th>収入合計</th> 
          <th>支出合計</th>     
          <th>収支額</th>         
        </tr>
      </thead>
      <% @flows.each do |flow| %>       
          <tr>
            <td><%= link_to '内訳を見る', "/flows/#{flow.id}", method: :get,class: 'btn btn-default' %> </td>
            <td><%= flow.year_month_day&.strftime("%Y年%-m月%-d日") %></td>
            <td><%= flow.income_total.to_s(:delimited, delimiter: ',') %>円</td>
            <td><%= flow.expense_total.to_s(:delimited, delimiter: ',') %>円</td>
            <td><%= (flow.income_total - flow.expense_total).to_s(:delimited, delimiter: ',') %>円</td>
          </tr>
      <% end %>     
    </table>
      <%= paginate(@flows) %> 
  </div>  
</div>
    