<div class="main_flow">
  <%= form_for @flow do |form| %>
    <div class="registration">
      <%= form.label :registration_day, "登録日", class:"registration_label" %>
      <%= form.date_field :year_month_day %>
      <%# <%= form.date_select :year_month_day,
        start_year: 2020, 
        end_year: (Time.current.year),
        use_month_numbers: true %> 
    </div>
      <%= render partial: "form", locals: { form: form } %>
    <div class="submit">
        <%= form.submit  value="登録する",class: 'btn btn-default' %>
        <%= link_to 'やり直す', new_flow_path, method: :get,class: 'btn btn-default' %> 
    </div>
   <% end %>   
</div>      