<div class="main_flow">
  <%= form_for @flow do |form| %>
    <div class="registration">
      <%= label :registration_day, "登録日", class:"registration_label" %>
      <%= form.date_select :year_month_day,
        start_year: 2020, 
        end_year: (Time.current.year),
        use_month_numbers: true %>
    </div>
    <div class="main_flow_income">
      <table class="attr">
        <colgroup>
            <col style="width:50%;">
            <col style="width:50%;">
        </colgroup>
        <thead>
          <tr>
            <th>項目</th>
            <th>金額</th>     
          </tr>
        </thead>      
        <tr>
          <th><%= label :income1, "売上入金（振込/現金）" %></th>
          <td><%= form.text_field :income1, size: 8, class:"input" %>円</td>
        </tr>
        <tr>
          <th><%= label :income2, "売上入金（手形決済）" %></th>
          <td><%= form.text_field :income2, size: 8, class:"input" %>円</td>
        </tr>
        <tr>
          <th><%= label :income3, "受取利息" %></th>
          <td><%= form.text_field :income3, size: 8, class:"input" %>円</td>
        </tr>
        <tr>
          <th><%= label :income4, "借入金" %></th>
          <td><%= form.text_field :income4, size: 8, class:"input" %>円</td>
        </tr>
        <tr>
          <th><%= label :income5, "その他収入" %></th>
          <td><%= form.text_field :income5, size: 8, class:"input" %>円</td>
        </tr>
        <tr>
          <th><%= label :income6, "収入6" %></th>
          <td><%= form.text_field :income6, size: 8, class:"input" %>円</td>
        </tr>
        <tr>
          <th><%= label :income7, "収入7" %></th>
          <td><%= form.text_field :income7, size: 8, class:"input" %>円</td>
        </tr>
      </table>
    </div>

    <div class="main_flow_expense">
      <table class="attr">
          <colgroup>
              <col style="width:50%;">
              <col style="width:50%;">
          </colgroup>
          <thead>
            <tr>
              <th>項目</th>
              <th>金額</th>   
            </tr>
          </thead>
          <tr>
            <th><%= label :expense1, "仕入支払" %></th>
            <td><%= form.text_field :expense1, size: 8, class:"input_main" %>円</td>
          </tr>
          <tr>
            <th><%= label :expense2, "人件費" %></th>
            <td><%= form.text_field :expense2, size: 8, class:"input" %>円</td>
          </tr>
          <tr>
            <th><%= label :expense3, "支払手数料/利息" %></th>
            <td><%= form.text_field :expense3, size: 8, class:"input" %>円</td>
          </tr>
          <tr>
            <th><%= label :expense4, "水道光熱費" %></th>
            <td><%= form.text_field :expense4, size: 8, class:"input" %>円</td>
          </tr>
          <tr>
            <th><%= label :expense5, "通信費" %></th>
            <td><%= form.text_field :expense5, size: 8, class:"input" %>円</td>
          </tr>
          <tr>
            <th><%= label :expense6, "借入返済" %></th>
            <td><%= form.text_field :expense6, size: 8, class:"input" %>円</td>
          </tr>
          <tr>
            <th><%= label :expense7, "その他支払" %></th>
            <td><%= form.text_field :expense7, size: 8, class:"input" %>円</td>
          </tr>
        </table>        
      </div>
      <div class="submit">
         <%= form.submit  value="登録する",class: 'btn btn-default' %>
     </div>
   <% end %>   
</div>      