<div class="main_flow">
  <div class="main_flow_month_data_grafic">

    <canvas id="myChart" width="200" height="80"></canvas>
    <script>draw_graph();</script>  

  </div>
    <div class="main_flow_month_data">
      <table class="attr4">
        <colgroup>
          <col style="width:4%, text-aline: center;">
          <col style="width:8%;">
          <col style="width:8%;">
          <col style="width:8%;">
          <col style="width:8%;">
          <col style="width:8%;">
          <col style="width:8%;">
          <col style="width:8%;">
          <col style="width:8%;">
          <col style="width:8%;">
          <col style="width:8%;">
          <col style="width:8%;">
          <col style="width:8%;">
        </colgroup>
        <thead>
          <tr>
            <th>項目</th>
            <th>1月</th>
            <th>2月</th>
            <th>3月</th>
            <th>4月</th>
            <th>5月</th>
            <th>6月</th>
            <th>7月</th>
            <th>8月</th>
            <th>9月</th>
            <th>10月</th>
            <th>11月</th>
            <th>12月</th>
          </tr>
        </thead>      
        <tr>
          <td>収入</td>
          <td><%= @flow_income_total_jan.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_income_total_feb.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_income_total_mar.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_income_total_apr.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_income_total_may.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_income_total_jun.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_income_total_jul.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_income_total_aug.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_income_total_sep.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_income_total_oct.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_income_total_nov.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_income_total_dec.to_s(:delimited, delimiter: ',') %></td>
        </tr>
        <tr>
          <td>支出</td>
          <td><%= @flow_expense_total_jan.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_expense_total_feb.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_expense_total_mar.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_expense_total_apr.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_expense_total_may.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_expense_total_jun.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_expense_total_jul.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_expense_total_aug.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_expense_total_sep.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_expense_total_oct.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_expense_total_nov.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_expense_total_dec.to_s(:delimited, delimiter: ',') %></td>
        </tr>
        <tr>
          <td>収支</td>
          <td><%= @flow_balance_total_jan.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_balance_total_feb.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_balance_total_mar.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_balance_total_apr.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_balance_total_may.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_balance_total_jun.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_balance_total_jul.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_balance_total_aug.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_balance_total_sep.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_balance_total_oct.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_balance_total_nov.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_balance_total_dec.to_s(:delimited, delimiter: ',') %></td>
        </tr>
        <tr>
          <td>繰越</td>
          <td><%= @flow_carryover_jan.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_carryover_feb.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_carryover_mar.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_carryover_apr.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_carryover_may.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_carryover_jun.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_carryover_jul.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_carryover_aug.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_carryover_sep.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_carryover_oct.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_carryover_nov.to_s(:delimited, delimiter: ',') %></td>
          <td><%= @flow_carryover_dec.to_s(:delimited, delimiter: ',') %></td>
        </tr>   
      </table>
    </div>
</div>