
  <div class="main_flow">
    <div class="main_flow_income">
      <table class="attr">
        <colgroup>
            <col style="width:50%;">
            <col style="width:50%;">
        </colgroup>
        <thead>
          <tr>
            <th>項目</th>
            <th>金額</th>   
          </tr>
      
        <tr>
          <th><%= label :income1, "収入1" %></th>
          <td><%= text_field :income1, size: 8 ,class:"text_btn" %>円</td>
        </tr>
        <tr>
          <th><%= label :income2, "収入2" %></th>
          <td><%= text_field :income2, size: 8 %>円</td>
        </tr>
        <tr>
          <th><%= label :income3, "収入3" %></th>
          <td><%= text_field :income3, size: 8 %>円</td>
        </tr>
        <tr>
          <th><%= label :income4, "収入4" %></th>
          <td><%= text_field :income4, size: 8 %>円</td>
        </tr>
        <tr>
          <th><%= label :income5, "収入5" %></th>
          <td><%= text_field :income5, size: 8 %>円</td>
        </tr>
        <tr>
          <th><%= label :income6, "収入6" %></th>
          <td><%= text_field :income6, size: 8 %>円</td>
        </tr>
        <tr>
          <th><%= label :income_total, "収入合計" %></th>
          <td><%= text_field :income_total, size: 8 %>円</td>
        </tr>
      </table>
    </div>
    <div class="main_flow_expense">
      <table class="attr">
          <colgroup>
              <col style="width:50%;">
              <col style="width:50%;">
          </colgroup>
          <thead>
            <tr>
              <th>項目</th>
              <th>金額</th>   
            </tr>
          </thead>
          <tr>
            <th><%= label :expense1, "支出1" %></th>
            <td><%= text_field :expense1, size: 8 %>円</td>
          </tr>
          <tr>
            <th><%= label :expense2, "支出2" %></th>
            <td><%= text_field :expense2, size: 8 %>円</td>
          </tr>
          <tr>
            <th><%= label :expense3, "支出3" %></th>
            <td><%= text_field :expense3, size: 8 %>円</td>
          </tr>
          <tr>
            <th><%= label :expense4, "支出4" %></th>
            <td><%= text_field :expense4, size: 8 %>円</td>
          </tr>
          <tr>
            <th><%= label :expense5, "支出5" %></th>
            <td><%= text_field :expense5, size: 8 %>円</td>
          </tr>
          <tr>
            <th><%= label :expense6, "支出6" %></th>
            <td><%= text_field :expense6, size: 8 %>円</td>
          </tr>
          <tr>
            <th><%= label :expense_total, "支出合計" %></th>
            <td><%= text_field :expense_total, size: 8 %>円</td>
          </tr>
        </table>        
      </div>
  </div>
 