
  <div class="main_flow">
    <div class="main_flow_income">
      <table class="attr">
        <colgroup>
            <col style="width:50%;">
            <col style="width:50%;">
        </colgroup>
        <thead>
          <tr>
            <th>項目</th>
            <th>金額</th>     
          </tr>
        </thead>      
        <tr>
          <th><%= label :income1, "売上入金（振込/現金）" %></th>
          <td><%= text_field :income1, size: 8, class:"input" %>円</td>
        </tr>
        <tr>
          <th><%= label :income2, "売上入金（手形決済）" %></th>
          <td><%= text_field :income2, size: 8, class:"input" %>円</td>
        </tr>
        <tr>
          <th><%= label :income3, "受取利息" %></th>
          <td><%= text_field :income3, size: 8, class:"input" %>円</td>
        </tr>
        <tr>
          <th><%= label :income4, "借入金" %></th>
          <td><%= text_field :income4, size: 8, class:"input" %>円</td>
        </tr>
        <tr>
          <th><%= label :income5, "その他収入" %></th>
          <td><%= text_field :income5, size: 8, class:"input" %>円</td>
        </tr>
        <tr>
          <th><%= label :income6, "収入6" %></th>
          <td><%= text_field :income6, size: 8, class:"input" %>円</td>
        </tr>
        <tr>
          <th><%= label :income7, "収入7" %></th>
          <td><%= text_field :income7, size: 8, class:"input" %>円</td>
        </tr>
        <tr>
          <th><%= label :income_total, "収入合計" %></th>
          <td><%= text_field :income_total, size: 8, class:"input" %>円</td>
        </tr>
      </table>
    </div>

    <div class="main_flow_expense">
      <table class="attr">
          <colgroup>
              <col style="width:50%;">
              <col style="width:50%;">
          </colgroup>
          <thead>
            <tr>
              <th>項目</th>
              <th>金額</th>   
            </tr>
          </thead>
          <tr>
            <th><%= label :expense1, "仕入支払" %></th>
            <td><%= text_field :expense1, size: 8, class:"input_main" %>円</td>
          </tr>
          <tr>
            <th><%= label :expense2, "人件費" %></th>
            <td><%= text_field :expense2, size: 8, class:"input" %>円</td>
          </tr>
          <tr>
            <th><%= label :expense3, "支払手数料/利息" %></th>
            <td><%= text_field :expense3, size: 8, class:"input" %>円</td>
          </tr>
          <tr>
            <th><%= label :expense4, "水道光熱費" %></th>
            <td><%= text_field :expense4, size: 8, class:"input" %>円</td>
          </tr>
          <tr>
            <th><%= label :expense5, "通信費" %></th>
            <td><%= text_field :expense5, size: 8, class:"input" %>円</td>
          </tr>
          <tr>
            <th><%= label :expense6, "借入返済" %></th>
            <td><%= text_field :expense6, size: 8, class:"input" %>円</td>
          </tr>
          <tr>
            <th><%= label :expense6, "その他支払" %></th>
            <td><%= text_field :expense6, size: 8, class:"input" %>円</td>
          </tr>
          <tr>
            <th><%= label :expense_total, "支出合計" %></th>
            <td><%= text_field :expense_total, size: 8, class:"input" %>円</td>
          </tr>
        </table>        
      </div>

      <div class="main_flow_termflow">
        <table class="attr2">
          <colgroup>
              <col style="width:55%;">
              <col style="width:45%;">
          </colgroup>
          <thead>
            <tr>
              <th>項目</th>
              <th>金額</th>     
            </tr>
          </thead>  
          <tr>
            <th><%= label :termflow1, "指定期間前の収支残高①" %></th>
            <td><%= text_field :termflow1, size: 8, class:"input" %>円</td>
          </tr>
          <tr>
            <th><%= label :termflow2, "指定期間中の収支額②" %></th>
            <td><%= text_field :termflow2, size: 8, class:"input" %>円</td>         
          </tr>
          <tr>
            <th><%= label :termflow3, "指定期間後の収支残高(①＋②）" %></th>
            <td><%= text_field :termflow3, size: 8, class:"input" %>円</td>        
          </tr>
        </table>
      </div>          
</div>
 